@color:#e64f2a;
@color2: #f9f9f9;
@color3:#555;
@color4:#adadad;
a{
  &:hover{
    color: @color;
    cursor: pointer;
  }
}
div{
  transition: all .36s ease;
}
.centerBox{
    width: 1200px;
    margin: 0 auto;
    transition: all .36s ease;
}

.overHidden(@val:1){
  overflow: hidden;
  text-overflow: ellipsis;
  display:-webkit-box; //作为弹性伸缩盒子模型显示。
  -webkit-box-orient:vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
  -webkit-line-clamp:@val; //显示的行
}
@media (max-width: 1250px) {
  .centerBox{
    width: 960px;
  }
}
@media (max-width: 960px) {
  .centerBox{
    width: 100%;
    box-sizing: border-box;
    padding:10px;
    .slidebar{
      display: block !important;
    }
  }
  .content{
    .centerBox{
      .left{
        position: fixed;
        width: 280px;
        height: 100vh;
        top:0;
        right: 0;
        left: auto;
        background: rgba(85,85,85,.9);
        z-index:99;
        padding-top: 100px;
        box-sizing: content-box;
        overflow: auto;
      }
      .right{
        width: 100%;
        margin-left: 0;
      }
    }
  }
  .listBox .list .pic{
    width: 105px !important;
  }
  .listBox .list .right{
    width: calc(100% - 130px) !important;
  }
}
