.el-table, .el-table__expanded-cell{
  background: inherit;
}
.el-table th, .el-table tr{
  background: rgba(255, 255, 255, 0.4);
}
.el-input__inner{
  background: rgba(255, 255, 255, 0.6);
}

.el-tree{
  background:inherit;
}
.el-pagination .btn-next, .el-pagination .btn-prev{
  background: rgba(255, 255, 255, 0.6);
}



.columnLeft .el-input__inner {
  border-radius: 0;
}

.diaContent .el-form-item {
  margin-bottom: 0px;

}